In [5]:
import pandas as pd 
import numpy as np

In [6]:
text = pd.read_csv('SWB SOW GVC2EH v2.0 (2)-14-21 (1).csv')

In [7]:
df = pd.DataFrame(text)
df.head()

  SWB SOW Form v1.02             Unnamed: 1
0         Appendix A                    NaN
1           Location                    NaN
2                  ●       Beacon Hill Park
3                  ●   Royal Athletic Park
4                  ●            Topaz Park

## Extracting locations

In [111]:
location = df.iloc[:29]

In [162]:
location.head(55)

   SWB SOW Form v1.02                             Unnamed: 1
0          Appendix A                                    NaN
1            Location                                    NaN
2                   ●                       Beacon Hill Park
3                   ●                   Royal Athletic Park
4                   ●                            Topaz Park
5                   ●                          Central Park
6                   ●                        Stadacona Park
7                   ●                         Oaklands Park
8                   ●                            Irving Park
9                   ●                        Hollywood Park
10                  ●                         Gonzalez Park
11                  ●                            North Park
12                  ●                             Fairfield
13                  ●                              Downtown
14                  ●                              Fernwood
15                  ●                              Rockland
16                  ●                              Oaklands
17                  ●                               Uplands
18                  ●                          Harris Green
19                  ●                              Burnside
20                  ●                              Gonzalez
21                  ●                                 Sooke
22                  ●                            West Shore
23                  ●                              Langford
24                  ●                               Colwood
25                  ●                             Metchosin
26                  ●                            View Royal
27                  ●               Pandora Avenue/ Pandora
28                  ●   900-block of Pandora Avenue/Pandora

In [113]:
loc2 = location.copy()

In [114]:
loc2.head()

  SWB SOW Form v1.02             Unnamed: 1
0         Appendix A                    NaN
1           Location                    NaN
2                  ●       Beacon Hill Park
3                  ●   Royal Athletic Park
4                  ●            Topaz Park

In [115]:
loc2.drop([0,1], axis = 0, inplace = True)

In [116]:
loc2.head()

  SWB SOW Form v1.02             Unnamed: 1
2                  ●       Beacon Hill Park
3                  ●   Royal Athletic Park
4                  ●            Topaz Park
5                  ●          Central Park
6                  ●        Stadacona Park

In [117]:
loc2.drop(loc2.columns[0], axis = 1, inplace = True)

In [119]:
loc2.head()

             Unnamed: 1
2      Beacon Hill Park
3  Royal Athletic Park
4           Topaz Park
5         Central Park
6       Stadacona Park

In [129]:
loc2.reset_index(drop = True, inplace=True)

In [130]:
loc2.rename({'Unnamed: 1': 'Location'}, axis=1, inplace=True)

In [133]:
import os  
os.makedirs('appendices/location', exist_ok=True)  
loc2.to_csv('appendices/location/location.csv')

## Extracting Appendix B - Influencers (Persons)

In [8]:
inf = df.copy()

In [9]:
inf.head()

  SWB SOW Form v1.02             Unnamed: 1
0         Appendix A                    NaN
1           Location                    NaN
2                  ●       Beacon Hill Park
3                  ●   Royal Athletic Park
4                  ●            Topaz Park

### Rename columns

In [10]:
inf.rename(columns = {inf.columns[0]: 'influencers'},inplace=True)

In [11]:
inf.head()

   influencers            Unnamed: 1
0  Appendix A                    NaN
1    Location                    NaN
2           ●       Beacon Hill Park
3           ●   Royal Athletic Park
4           ●            Topaz Park

### Slice dataframe to extract influencers

In [12]:
#Finding index of the last influencer name in pdf 
print(inf[inf['influencers'] == '● @AlanRycroft '].index.values)
#Finding index of the first influenceer name in pdf
print(inf[inf['influencers'] == '● @Adam_Stirling '].index.values)

[86]
[34]

In [13]:
infSer = inf.iloc[34:87]

In [14]:
print("There are %s influencers (Persons)"%infSer.shape[0])

There are 53 influencers (Persons)

### Drop redundant columns

In [15]:
infSer.drop(infSer.columns[1], axis = 1, inplace = True)

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
infSer.head()

          influencers
34  ● @Adam_Stirling
35    ● @CharlesBodi
36  ● @NicoleChaland
37    ● @Buckleygkml
38  ● @Darylbassett3

### Remove redundant rows and reset index

In [17]:
print(infSer[infSer['influencers'] == 'Statistics Without Borders SOW Form Page 15 '].index.values)

[72]

In [18]:
infSer.drop(72, axis = 0, inplace = True)

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [25]:
infSer.drop(38, axis = 0, inplace = True)

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
#checking that value has been dropped
infSer.shape[0]

51

In [27]:
#reset index

infSer.reset_index(drop = True, inplace=True)

In [28]:
infSer.head()

         influencers
0     Adam_Stirling
1       CharlesBodi
2     NicoleChaland
3       Buckleygkml
4     Darylbassett3

### Remove special characters

In [29]:
spec_chars = ["@","●"]
for char in spec_chars:
    infSer['influencers'] = infSer['influencers'].str.replace(char, ' ')

/var/folders/bl/v0q7266s34j1kz9d3np4vqhr0000gn/T/ipykernel_45150/3153078862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infSer['influencers'] = infSer['influencers'].str.replace(char, ' ')

In [30]:
infSer.head()

         influencers
0     Adam_Stirling
1       CharlesBodi
2     NicoleChaland
3       Buckleygkml
4     Darylbassett3

In [31]:
#saving csv file to directory
import os  
os.makedirs('influencers', exist_ok=True)
infSer.to_csv('influencers/persons.csv')

## Extracting Appendix B - Influencers (Organizations)

In [45]:
org = df.copy()

In [46]:
#rename columns 
org.rename(columns = {org.columns[0]:'organizations'}, inplace = True)
org.head()

  organizations            Unnamed: 1
0   Appendix A                    NaN
1     Location                    NaN
2            ●       Beacon Hill Park
3            ●   Royal Athletic Park
4            ●            Topaz Park

In [48]:
#Finding index of the last organization name in pdf 
print(org[org['organizations'] == '● @HabitatVictoria '].index.values)
#Finding index of the first organization name in pdf
print(org[org['organizations'] == '● @BC_Housing'].index.values)

[179]
[88]

In [49]:
orgSer = org.iloc[88:180]
print("There are %s organizations before preprocessing"%orgSer.shape[0])

There are 92 organizations before preprocessing

In [50]:
orgSer.head()

          organizations Unnamed: 1
88        ● @BC_Housing        NaN
89    ● @Island Health         NaN
90  ● @VanIslandHealth         NaN
91       ● @HomeforHope        NaN
92             ● @VREB         NaN

In [51]:
#removing redundant columns 
orgSer.drop(orgSer.columns[1], axis = 1, inplace = True)
orgSer.head()

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

          organizations
88        ● @BC_Housing
89    ● @Island Health
90  ● @VanIslandHealth
91       ● @HomeforHope
92             ● @VREB

In [54]:
#Locating redundant rows
print(orgSer[orgSer['organizations'] == 'Statistics Without Borders SOW Form Page 16 '].index.values)
print(orgSer[orgSer['organizations'] == 'SWB SOW Form v1.02 '].index.values)
print(orgSer[orgSer['organizations'] == 'Statistics Without Borders SOW Form Page 17 '].index.values)

[114]
[115 159]
[158]

In [55]:
#removing redundant rows

orgSer.drop([114,115,159,158],axis = 0,inplace = True)
print("There are %s organizations post processing"%orgSer.shape[0])

There are 88 organizations post processing

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [57]:
#resetting index

orgSer.reset_index(drop = True, inplace=True)
orgSer.head()

         organizations
0        ● @BC_Housing
1    ● @Island Health
2  ● @VanIslandHealth
3       ● @HomeforHope
4             ● @VREB

In [59]:
#removing unwanted characters from the names
specialchars = ['@','●']

for char in specialchars:
    orgSer['organizations'] = orgSer['organizations'].str.replace(char, "")

/var/folders/bl/v0q7266s34j1kz9d3np4vqhr0000gn/T/ipykernel_45150/3614960611.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orgSer['organizations'] = orgSer['organizations'].str.replace(char, "")

In [60]:
orgSer.head()

       organizations
0         BC_Housing
1     Island Health
2   VanIslandHealth
3        HomeforHope
4              VREB

In [61]:
#saving csv file to directory

orgSer.to_csv('influencers/organizations.csv')

## Extracting Appendix C - Organizations involved in Homeless Sector

In [62]:
orghome = df.copy()

In [64]:
#rename column
orghome.rename(columns = {orghome.columns[0]:'organizationsHomeless'}, inplace = True)
orghome.head()

  organizationsHomeless            Unnamed: 1
0           Appendix A                    NaN
1             Location                    NaN
2                    ●       Beacon Hill Park
3                    ●   Royal Athletic Park
4                    ●            Topaz Park

In [75]:
#Finding index of the last organization name in pdf 
print(orghome[orghome['organizationsHomeless'] == '● Red Cedar Café '].index.values)
#Finding index of the first organization name in pdf
print(orghome[orghome['organizationsHomeless'] == '● BC Housing '].index.values)

[211]
[184]

In [76]:
#indexing into df to extract organizations involved in homeless into a sub dataframe

orghomeSer = orghome.iloc[184:212]

print("There are %s organisations involved in homelessness before preprocessing" %orghomeSer.shape[0])

There are 28 organisations involved in homelessness before preprocessing

In [79]:
#removing redundant column

orghomeSer.drop(orghomeSer.columns[1], axis=1 , inplace = True)

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [80]:
orghomeSer.head()

                                 organizationsHomeless
184                                      ● BC Housing
185                                   ● Island Health
186  ● The Aboriginal Coalition to End Homelessness...
187  ● Greater Victoria Coalition to End Homelessness
188           ● The Victoria Real Estate Board (VREB)

In [77]:
#no redundant rows from manual inspection of raw csv

In [81]:
#removing special characters 

orghomeSer['organizationsHomeless'] = orghomeSer['organizationsHomeless'].str.replace("● ", '')

/var/folders/bl/v0q7266s34j1kz9d3np4vqhr0000gn/T/ipykernel_45150/401111819.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orghomeSer['organizationsHomeless'] = orghomeSer['organizationsHomeless'].str.replace("● ", '')

In [82]:
orghomeSer.head()

                                 organizationsHomeless
184                                        BC Housing
185                                     Island Health
186  The Aboriginal Coalition to End Homelessness (...
187    Greater Victoria Coalition to End Homelessness
188             The Victoria Real Estate Board (VREB)

In [84]:
#resetting index 

orghomeSer.reset_index(drop = True, inplace=True)
orghomeSer.head()

                               organizationsHomeless
0                                        BC Housing
1                                     Island Health
2  The Aboriginal Coalition to End Homelessness (...
3    Greater Victoria Coalition to End Homelessness
4             The Victoria Real Estate Board (VREB)

In [85]:
#saving dataframe as csv 
os.makedirs('appendixc', exist_ok=True)
orghomeSer.to_csv('appendixc/organizationshomeless.csv')

## Extracting Appendix D - Sector Specific Words

In [163]:
sector = df.copy()

In [164]:
#rename column
sector.rename(columns = {sector.columns[0]:'sectors'}, inplace = True)
sector.head()

       sectors            Unnamed: 1
0  Appendix A                    NaN
1    Location                    NaN
2           ●       Beacon Hill Park
3           ●   Royal Athletic Park
4           ●            Topaz Park

In [165]:
#Finding index of the last sector name in pdf 
print(sector[sector['sectors'] == '● Temporary housing '].index.values)
#Finding index of the first sector name in pdf
print(sector[sector['sectors'] == '● Encampment (s) '].index.values)

[237]
[216]

In [166]:
sectorSer = sector.iloc[216:237]
sectorSer.head()

                      sectors Unnamed: 1
216         ● Encampment (s)         NaN
217  ● Low income, low-income        NaN
218      ● Emergency Housing         NaN
219     ● Affordable Housing         NaN
220     ● Subsidized Housing         NaN

In [167]:
#removing redundant columns 
sectorSer.drop(sectorSer.columns[1], axis=1, inplace = True)
sectorSer.head()

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                      sectors
216         ● Encampment (s)
217  ● Low income, low-income
218      ● Emergency Housing
219     ● Affordable Housing
220     ● Subsidized Housing

In [168]:
#no redundant rows on manual inspection

#resetting index

sectorSer.reset_index(drop=True, inplace=True)

In [169]:
sectorSer.head()

                    sectors
0         ● Encampment (s)
1  ● Low income, low-income
2      ● Emergency Housing
3     ● Affordable Housing
4     ● Subsidized Housing

In [170]:
#removing special characters 
sectorSer['sectors'] = sectorSer['sectors'].str.replace("● ", '')
sectorSer.head(50)

/var/folders/bl/v0q7266s34j1kz9d3np4vqhr0000gn/T/ipykernel_45150/1870354776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sectorSer['sectors'] = sectorSer['sectors'].str.replace("● ", '')

                                              sectors
0                                     Encampment (s)
1                              Low income, low-income
2                                  Emergency Housing
3                                 Affordable Housing
4                                 Subsidized Housing
5                               Peer Housing Support
6                       Peer Housing Support Program
7                                   Lived Experience
8                       People with lived experience
9                   Person experiencing homelessness
10                Community Plan to End Homelessness
11                 Coordinated Access and Assessment
12                                     Reaching Home
13                     Point in Time, PiT Count, PiT
14                                    Harm Reduction
15                                       Safe Supply
16                                  Service provider
17  Frontline/front line/ frontline worker/ front ...
18                                        Healthcare
19                                      Complex care
20                                 Temporary shelter

#### Seperating texts to multiple rows

In [173]:
sectordf = sectorSer.drop('sectors', axis=1).join(sectorSer['sectors'].str.split('/', expand=True).stack().reset_index(level=1, drop=True).rename('sectors'))

In [174]:
sectordf = sectordf.drop('sectors', axis=1).join(sectordf['sectors'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('sectors'))

In [178]:
sectordf

                                sectors
0                       Encampment (s)
1                            Low income
1                            low-income
2                    Emergency Housing
3                   Affordable Housing
4                   Subsidized Housing
5                 Peer Housing Support
6         Peer Housing Support Program
7                     Lived Experience
8         People with lived experience
9     Person experiencing homelessness
10  Community Plan to End Homelessness
11   Coordinated Access and Assessment
12                       Reaching Home
13                        Point in Time
13                            PiT Count
13                                 PiT
14                      Harm Reduction
15                         Safe Supply
16                    Service provider
17                            Frontline
17                           front line
17                     frontline worker
17                   front line worker
17                            Frontline
17                           front line
17                     frontline worker
17                   front line worker
17                            Frontline
17                           front line
17                     frontline worker
17                   front line worker
17                            Frontline
17                           front line
17                     frontline worker
17                   front line worker
18                          Healthcare
19                        Complex care
20                   Temporary shelter

In [180]:
#resetting index
sectordf.reset_index(drop=True, inplace=True)

In [181]:
sectordf

                                sectors
0                       Encampment (s)
1                            Low income
2                            low-income
3                    Emergency Housing
4                   Affordable Housing
5                   Subsidized Housing
6                 Peer Housing Support
7         Peer Housing Support Program
8                     Lived Experience
9         People with lived experience
10    Person experiencing homelessness
11  Community Plan to End Homelessness
12   Coordinated Access and Assessment
13                       Reaching Home
14                        Point in Time
15                            PiT Count
16                                 PiT
17                      Harm Reduction
18                         Safe Supply
19                    Service provider
20                            Frontline
21                           front line
22                     frontline worker
23                   front line worker
24                            Frontline
25                           front line
26                     frontline worker
27                   front line worker
28                            Frontline
29                           front line
30                     frontline worker
31                   front line worker
32                            Frontline
33                           front line
34                     frontline worker
35                   front line worker
36                          Healthcare
37                        Complex care
38                   Temporary shelter

In [183]:
#saving dataframe as csv 
os.makedirs('appendixd', exist_ok=True)
sectordf.to_csv('appendixd/sectors.csv')

## Extracting Appendix E - Words associated with homelessness

In [196]:
wordsdf = df.copy()

#rename column
wordsdf.rename(columns = {wordsdf.columns[1]:'word'}, inplace = True)
wordsdf

    SWB SOW Form v1.02                                           word
0           Appendix A                                            NaN
1             Location                                            NaN
2                    ●                               Beacon Hill Park
3                    ●                           Royal Athletic Park
4                    ●                                    Topaz Park
..                  ...                                           ...
273                  ●                             Collude/Collusion
274                  ●                            Overdose/overdosed
275                  ●                              Social structure
276                  ●                                Social problem
277                 NaN  Statistics Without Borders SOW Form Page 21

[278 rows x 2 columns]

In [197]:
#Finding index of the last sector name in pdf 
print(wordsdf[wordsdf['word'] == 'Poverty '].index.values)
#Finding index of the first sector name in pdf
print(wordsdf[wordsdf['word'] == 'Social problem '].index.values)

[242]
[276]

In [198]:
#indexing into the df
wordsdf = wordsdf.iloc[242:277]
wordsdf

    SWB SOW Form v1.02                      word
242                  ●                  Poverty
243                  ●                     Poor
244                  ●                    Crime
245                  ●                 Violence
246                  ●                    Thief
247                  ●                    Theft
248                  ●                   Stolen
249                  ●               Encampment
250                  ●                     Camp
251                  ●                   Camper
252                  ●                     Tent
253                  ●                  Shelter
254                  ●                  Housing
255                  ●               Low-income
256                  ●                 Homeless
257                  ●             Homelessness
258                  ●                   Camper
259                  ●                  Camping
260                  ●                     Tent
261                  ●                 Unhoused
262                  ●               Affordable
263                  ●       Affordable housing
264                  ●            Substance use
265                  ●          Addict/Addicted
266                  ●                    Drugs
267                  ●   Evicted/Eviction/Evict
268                  ●                Narcotics
269                  ●                Alcoholic
270                  ●           Drugs/drug use
271                  ●           Social Housing
272                  ●            #PovertyPimps
273                  ●        Collude/Collusion
274                  ●       Overdose/overdosed
275                  ●         Social structure
276                  ●           Social problem

In [199]:
wordsdf.drop(wordsdf.columns[0], axis = 1, inplace = True)
wordsdf

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                        word
242                 Poverty
243                    Poor
244                   Crime
245                Violence
246                   Thief
247                   Theft
248                  Stolen
249              Encampment
250                    Camp
251                  Camper
252                    Tent
253                 Shelter
254                 Housing
255              Low-income
256                Homeless
257            Homelessness
258                  Camper
259                 Camping
260                    Tent
261                Unhoused
262              Affordable
263      Affordable housing
264           Substance use
265         Addict/Addicted
266                   Drugs
267  Evicted/Eviction/Evict
268               Narcotics
269               Alcoholic
270          Drugs/drug use
271          Social Housing
272           #PovertyPimps
273       Collude/Collusion
274      Overdose/overdosed
275        Social structure
276          Social problem

In [200]:
#removing special characters like #
wordsdf['word'] = wordsdf['word'].str.replace('#', '')
wordsdf

/var/folders/bl/v0q7266s34j1kz9d3np4vqhr0000gn/T/ipykernel_45150/367766434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wordsdf['word'] = wordsdf['word'].str.replace('#', '')

                        word
242                 Poverty
243                    Poor
244                   Crime
245                Violence
246                   Thief
247                   Theft
248                  Stolen
249              Encampment
250                    Camp
251                  Camper
252                    Tent
253                 Shelter
254                 Housing
255              Low-income
256                Homeless
257            Homelessness
258                  Camper
259                 Camping
260                    Tent
261                Unhoused
262              Affordable
263      Affordable housing
264           Substance use
265         Addict/Addicted
266                   Drugs
267  Evicted/Eviction/Evict
268               Narcotics
269               Alcoholic
270          Drugs/drug use
271          Social Housing
272            PovertyPimps
273       Collude/Collusion
274      Overdose/overdosed
275        Social structure
276          Social problem

In [201]:
## separating text to multiple rows

wordsdf = wordsdf.drop('word', axis=1).join(wordsdf['word'].str.split('/', expand=True).stack().reset_index(level=1, drop=True).rename('word'))

In [203]:
#reset index
wordsdf.reset_index(drop=True, inplace = True)

In [204]:
wordsdf

                   word
0              Poverty
1                 Poor
2                Crime
3             Violence
4                Thief
5                Theft
6               Stolen
7           Encampment
8                 Camp
9               Camper
10                Tent
11             Shelter
12             Housing
13          Low-income
14            Homeless
15        Homelessness
16              Camper
17             Camping
18                Tent
19            Unhoused
20          Affordable
21  Affordable housing
22       Substance use
23               Addict
24            Addicted
25               Drugs
26              Evicted
27             Eviction
28               Evict
29           Narcotics
30           Alcoholic
31                Drugs
32            drug use
33      Social Housing
34        PovertyPimps
35              Collude
36           Collusion
37             Overdose
38           overdosed
39    Social structure
40      Social problem

In [205]:
#saving dataframe as csv 
os.makedirs('appendixe', exist_ok=True)
wordsdf.to_csv('appendixe/words.csv')